<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3 shadow-sm">
        <div class="container" style="padding: 0px;">
            <a class="navbar-brand font-weight-bold text-uppercase" href="{% url 'main' %}">
                My Favorites Recipes
            </a>
            <button class="navbar-toggler toggler-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon toggler-button-ic"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto nav-items-custom-styles ">
                    <li class="nav-item gap-3">
                        <a class="nav-link text-white btn btn-outline-light btn-sm px-3 hover-effect-btn-active" href="{% url 'about-us' %}">О нас</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-outline-light btn-sm px-3 hover-effect-btn-active" href="{% url 'my_recipes' %}">Мои рецепты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-outline-light btn-sm px-3 hover-effect-btn-active" href="{% url 'add_ingredient' %}">Предложить ингредиент</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-outline-light btn-sm px-3 hover-effect-btn-active" href="{% url 'manage_recipes' %}">Управление рецептами</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-outline-light btn-sm px-3 hover-effect-btn-active" href="{% url 'logout' %}">Выйти</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-outline-light btn-sm px-3 hover-effect-btn-active" href="{% url 'login' %}">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-outline-light btn-sm px-3 hover-effect-btn-active" href="{% url 'registration' %}">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
