{% extends 'base.html' %}

{% block title %}Удаление ингредиентов{% endblock %}

{% block content %}
<h2>Удаление ингредиентов для {{ recipe.name }}</h2>
<form method="post">
    {% csrf_token %}
    <ul class="list-group">
        {% for ingredient in ingredients %}
        <li class="list-group-item">
            <input type="checkbox" name="ingredient_ids" value="{{ ingredient.ingredient.id }}">
            {{ ingredient.ingredient.name }} ({{ ingredient.measure }} {{ ingredient.ingredient.measuring }})
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-danger mt-3">Подтвердить удаление</button>
</form>
{% endblock %}
