{% extends '../layout/layout.html' %}

{% block title %}Редактирование ингредиента в рецепте{% endblock %}

{% block content %}
<h2>Редактирование ингредиента для рецепта "{{ recipe.title }}"</h2>

{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }} 

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}
