{% extends '../layout/layout.html' %}

{% block title %}Редактирование ингредиентов{% endblock %}

{% block content %}
<h2>Редактирование ингредиентов для {{ recipe.name }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="ingredient_id">Выберите ингредиент:</label>
        <select name="ingredient_id" id="ingredient_id" class="form-control">
            {% for ingredient in recipe_ingredients %}
                <option value="{{ ingredient.ingredient.id }}" {% if ingredient.ingredient.id == selected_ingredient_id %}selected{% endif %}>
                    {{ ingredient.ingredient.title }}
                </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-warning">Перейти к редактированию</button>
</form>
{% endblock %}
