{% extends 'base.html' %}

{% block title %}Редактирование ингредиентов{% endblock %}

{% block content %}
<h2>Редактирование ингредиентов для {{ recipe.name }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="ingredient_id">Выберите ингредиент:</label>
        <select name="ingredient_id" id="ingredient_id" class="form-control">
            {% for ingredient in ingredients %}
            <option value="{{ ingredient.ingredient.id }}">{{ ingredient.ingredient.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-warning">Перейти к редактированию</button>
</form>
{% endblock %}
