{% extends '../layout/layout.html' %}

{% block title %}Управление рецептами{% endblock %}

{% block content %}
<div class="container mt-4 p-0">
    <h2 class="text-center mb-4">Управление рецептами</h2>

    <div class="card shadow-sm">
        <ul class="list-group list-group-flush">
            {% for recipe in recipes %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'recipe-information' recipe.id %}" class="font-weight-bold">
                    {{ recipe.title }}
                </a>
                <div>
                    <a href="{% url 'edit-ingredient' recipe.id %}" class="btn btn-warning btn-sm mx-1">Изменить ингредиенты к рецепту</a>
                    <a href="{% url 'add-ingredient-to-recipe' recipe.id %}" class="btn btn-success btn-sm mx-1">Добавить ингредиент к рецепту</a>
                </div>
            </li>
            {% empty %}
            <li class="list-group-item text-center">Рецепты отсутствуют.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="text-left mt-4">
        <a href="{% url 'manage-units' %}" class="btn btn-secondary btn-sm">Управление единицами измерения</a>
    </div>
</div>
{% endblock %}
